import(
  spsurvey,
  xtable,
  XML,
  stringr,
  sp,
  car,
  pbapply,
  MASS,
  plyr,
  lattice,
  latticeExtra,
  grid,
  VecStatGraphs2D,
  mvtsplot
  )

export(
  cdfPlot,
  cdfStats,
  cdfTable,
  coordenadas,
  gcpDiff,
  gcpVector,
  readsat,
  toar,
  stepVIF,
  buildMS,
  statsMS,
  adjR2,
  plotMS
  )
