useDynLib(pedometrics)
exportPattern("^[[:alpha:]]+")

import(
  car,
  grid,
  gstat,
  lattice,
  latticeExtra,
  MASS,
  moments,
  pbapply,
  plyr,
  Rcpp,
  rgeos,
  sp,
  spsurvey,
  stringr,
  VecStatGraphs2D,
  xtable,
  XML
  )

export(
  adjR2,
  bbox2sp,
  buildMS,
  cdfPlot,
  cdfStats,
  cdfTable,
  coordenadas,
  distMat,
  distToNearestPoint,
  gcpDiff,
  gcpVector,
  nearestPoint,
  objMSSD,
  objPairs,
  objPoints,
  pairsPerLag,
  pointsPerLag,
  plotESDA,
  plotHD,
  plotMS,
  rowMinCpp,
  spJitterFinite,
  spSANN,
  statsMS,
  stepVIF
  )
