import(
  car,
  grid,
  gstat,
  lattice,
  latticeExtra,
  MASS,
  moments,
  mvtsplot,
  pbapply,
  plyr,
  sp,
  spsurvey,
  stringr,
  VecStatGraphs2D,
  xtable,
  XML
  )

export(
  adjR2,
  buildMS,
  cdfPlot,
  cdfStats,
  cdfTable,
  coordenadas,
  gcpDiff,
  gcpVector,
  plotESDA,
  plotHD,
  plotMS,
  statsMS,
  stepVIF
  )
